.bg-green {
    background-color: #2a6efa !important;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    outline: none;
}

.bg-dark {
    background-color: #151515 !important;
}

#publish {
    display: flex;
    margin-left: 5%;
    cursor: pointer;
    background: #2cc185;
    color: #fff;
    text-align: center;
    border: solid 1px #2cc185;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 15px;
    width: 76px;
    justify-content: center;
}

.common_wrapper {
    min-height: 100%;
    position: relative;
}

.pub_main {
    width: 90%;
    margin: 0 auto;
}
